@import 'bootstrap';

html {
  font-size: 16px !important;
}

.bg-light-green {
  background-color: #b2e6c4;
}

.bg-green {
  background-color: #126530;
}

.bg-dark-green {
  background-color: #07301c;
}

.text-darkgreen {
  color: #07301c;
}
